[2021-11-17 00:08] vdice opened #1 "Error when running via wagi"
Following the docs to run bartholomew and I hit the following:

[code]

Am I correct in assuming it is because of the following hardcoded path to the fileserver module in the [modules.toml file](https://github.com/technosophos/bartholomew/blob/main/modules.toml)?

[code]

Wondering what the best approach is for updating the path/location per the host system?  I'm new to the [wagi](https://github.c

[2021-11-24 17:00] technosophos commented on #1
Yes, that path should go to the location of `fileserver.gr.wasm`. I need to update the docs.

[2021-11-29 19:03] michelleN opened #2 "where is the pre-built bartholomew.wasm located"
Potentially silly question but where is the pre-built bartholomew.wasm located?

[2021-11-29 19:06] radu-matei commented on #2
It should be in the `target/wasm32-wasi/release` directory (the default one for Rust `wasm32-wasi` projects).

[2021-11-29 20:41] michelleN commented on #2
Thanks Radu. That makes sense for when I'm building the project myself but this line in the readme makes it seem like there is one I can download hosted somewhere on this github repo:
[code]

Am I understanding this incorrectly?

[2021-11-29 20:44] radu-matei commented on #2
Ah, you are correct, that is missing.
In fact, the static file server module (https://github.com/fermyon/bartholomew/blob/main/modules.toml#L2) is missing as well.

[2021-12-22 23:19] technosophos opened #3 "Add gzip content encoding"
Can we add an option to support `Content-Encoding` with `gzip` support?

This shouldn't require a change to Wagi. But it might require a fairly major rewrite of Bartholomew. Instead of printing directly to STDOUT, we'd have to print to an output stream that is wrapping a gzip writer. Then we would have to flush the gzip writer to stdout.

We'd also have to write the extra `Content-Encoding: gzip`

[2022-01-06 03:32] technosophos opened #10 "Cannot convert data to Rhai dynamic error"
When a runtime error occurs with Rhai, we almost always get the same largely uninformative error:

For example, say we have this `content/borken.md`:

[code]

And this `templates/borken.hbs`:

[code]

And this `scripts/borken.rhai`:

[code]

The result of executing the above would yield:

[code]

I can't figure out how to get a better error message out of the Handlebars engine.

Note that a parse

[2022-01-06 15:39] radu-matei opened #11 "Optimize `bartholomew.wasm` using `wasm-opt`"
`wasm-opt` from https://github.com/WebAssembly/binaryen/releases can be used to optimize the size of the resulting binary — in my local tests, from 4.8M to 4.1M.

We should perform the default optimization pass before uploading the asset.

[2022-01-09 20:33] radu-matei opened #14 "Too many open files when load testing"
Attempting to load test Bartholomew results in an IO error because of the too many files opened:

[code]

[code]

The actual Hyper error doesn't happen all the time, but the increased latency is noticeable even with fewer concurrent connections.

(Update: this might also be an issue with my local setup, which might very well be the case, I'm getting all sorts os weird errors after an update...)

[2022-01-09 20:41] radu-matei commented on #1
The docs are updated, I think this can be closed now.
Feel free to reopen if the docs are not clear.

Thanks.

[2022-01-09 20:41] #1 closed, assigned to nobody

[2022-01-11 18:58] technosophos commented on #14
So say you have 125 connections simultaneously hit Bartholomew, and you have 100 files in your Bartholomew. If Wasm opens every file using preopen, then you would have 12500 file handles created right away. What's your current limit on number of open files?

Bartholomew does currently do a LOT of file I/O onload, too, so you could definitely be hitting limits fast

[2022-01-27 03:05] #11 closed, assigned to nobody

[2022-02-09 19:22] technosophos opened #21 "Add `implode` template helper"
It would be very useful to have an `implode(list<string>)` command.

Example:
[code]

Above would produce `tag1, tag2, tag3`

[2022-02-10 03:28] rajatjindal commented on #21
still getting  familiar with the ecosystem here. i am guessing this should be implemented as `rhai` script under scripts folder?

[2022-02-11 02:45] #21 closed, assigned to nobody

[2022-02-11 03:01] technosophos opened #25 ""trim" template functions"
Per @rajatjindal's suggestion, it would make a lot of sense to implement the [Sprig functions](https://masterminds.github.io/sprig/) for Bartholomew. Rather than file an issue for each function, I figured I'd break these down into small batches. (Note: I am not entirely sure all of the functions can be done with the same syntax. I am no pro in writing the Handlebars functions.)

- [ ] `trim STRING

[2022-02-11 03:09] technosophos opened #26 "String transformation template functions"
Per #25, implement the [Sprig functions](https://masterminds.github.io/sprig/) for Bartholomew. Rather than file an issue for each function, I figured I'd break these down into small batches. (Note: I am not entirely sure all of the functions can be done with the same syntax. I am no pro in writing the Handlebars functions.)

- [ ] `title STRING` changes string to `Title Case`
- [ ] `untitle STRIN

[2022-02-11 03:13] technosophos opened #27 "Random template functions"
Per #25, implement the [Sprig functions](https://masterminds.github.io/sprig/) for Bartholomew. Rather than file an issue for each function, I figured I'd break these down into small batches. (Note: I am not entirely sure all of the functions can be done with the same syntax. I am no pro in writing the Handlebars functions.)

Extra warning: I don't know if I've ever tried using random functions wi

[2022-02-11 03:22] technosophos opened #28 "Wrapping and finding template functions"
Per #25, implement the [Sprig functions](https://masterminds.github.io/sprig/) for Bartholomew. Rather than file an issue for each function, I figured I'd break these down into small batches. (Note: I am not entirely sure all of the functions can be done with the same syntax. I am no pro in writing the Handlebars functions.)

- [ ] `wrap COUNT STRING` Wrap text at a particular length (line ending:

[2022-02-11 03:33] technosophos opened #29 "string list template functions"
Per #25, implement the [Sprig functions](https://masterminds.github.io/sprig/) for Bartholomew. Rather than file an issue for each function, I figured I'd break these down into small batches. (Note: I am not entirely sure all of the functions can be done with the same syntax. I am no pro in writing the Handlebars functions.)

- [ ] `explode SEP STRING` (or we could call it `split` and change `impl

[2022-02-11 03:35] technosophos opened #30 "Math template functions"
Per #25, implement the [Sprig functions](https://masterminds.github.io/sprig/) for Bartholomew. Rather than file an issue for each function, I figured I'd break these down into small batches. (Note: I am not entirely sure all of the functions can be done with the same syntax. I am no pro in writing the Handlebars functions.)

Some math functions that we could implement. Not sure if we need int and

[2022-02-11 03:38] technosophos opened #31 "numeric list functions"
Per #25, implement the [Sprig functions](https://masterminds.github.io/sprig/) for Bartholomew. Rather than file an issue for each function, I figured I'd break these down into small batches. (Note: I am not entirely sure all of the functions can be done with the same syntax. I am no pro in writing the Handlebars functions.)

- [ ] `until COUNT` generate a list of integers from 0 to COUNT.
- [ ] `

[2022-02-11 03:47] technosophos opened #32 "default template functions"
Per #25, implement the [Sprig functions](https://masterminds.github.io/sprig/) for Bartholomew. Rather than file an issue for each function, I figured I'd break these down into small batches. (Note: I am not entirely sure all of the functions can be done with the same syntax. I am no pro in writing the Handlebars functions.)

- [ ] `default DEFAULT_VALUE TEST` If TEST is not truthy, return the DEF

[2022-02-11 03:56] technosophos opened #33 "collections template functions"
Per #25, implement the [Sprig functions](https://masterminds.github.io/sprig/) for Bartholomew. Rather than file an issue for each function, I figured I'd break these down into small batches. (Note: I am not entirely sure all of the functions can be done with the same syntax. I am no pro in writing the Handlebars functions.)

- [ ] `list A B C` returns a list of `[A, B, C]`
- [ ] `first LIST` retu

[2022-02-11 17:45] technosophos opened #35 "Add a goodfirstissue bot"
@rajatjindal mentioned setting up a goodfirstissue bot. He pointed to these: https://github.com/rajatjindal/goodfirstissue, https://github.com/apps/goodfirstissue and https://twitter.com/goodfirstissue

I created the label, but we would also need to set up a bot.

[2022-02-11 18:37] rajatjindal commented on #35
thanks for considering. the installation is really straight forward and can be enabled at org/repo level. i am happy to answer any questions/concerns.

[2022-02-11 18:37] #29 closed, assigned to nobody

[2022-02-12 20:02] technosophos opened #37 "Add Bartholomew logo to the repo"
We have a logo on Fermyon.com. We just need to drop it in here.

[2022-02-12 20:11] radu-matei commented on #37
Logo from the site:

![image](https://user-images.githubusercontent.com/13103165/153726786-4eb743b1-5c9d-48e8-b515-877c167cedff.png)

[2022-02-14 17:06] rajatjindal commented on #25
while i am implementing these, i am realizing that it may become hard to manage all template functions in single `template.rs`

do you think it might make sense to implement them in separate `module` (sorry my rust terminology is still rusty) or repo?

[2022-02-15 00:05] #37 closed, assigned to nobody

[2022-02-17 12:54] rajatjindal commented on #3
i am trying my hands on this

[2022-02-17 17:03] rajatjindal commented on #30
all except `randInt` are done.

[2022-02-18 03:50] rajatjindal commented on #30
`randInt`  added to `handlebars_sprig` crate and will be available with next update of the same in `bartholomew`.

this  issue  can be closed.

[2022-02-18 04:09] radu-matei commented on #30
reference — https://github.com/rajatjindal/handlebars-sprig/blob/main/src/math.rs

Thank you so much for implementing this, @rajatjindal!

[2022-02-18 04:09] #30 closed, assigned to nobody

[2022-02-18 14:07] rajatjindal commented on #3
I worked on  this, and i am quite certain we need to change `wagi` for it.

the function `compose_response` is corrupting the response body/headers.

stay tuned while i am working on a PR to fix it.

[2022-02-18 17:27] rajatjindal commented on #3
ok, i take it back. i was able to fix it within `bartholomew`. Now need to expose `gzip` as an option and open the PR . will continue tomorrow.

[2022-02-21 03:16] rajatjindal commented on #25
these are now added to `handlebars_sprig` lib

[2022-02-24 23:33] #3 closed, assigned to nobody

[2022-02-26 01:33] rajatjindal opened #44 "Implement internal templates for embedding social media posts"
I was thinking it will be nice to have predefined templates to be able to embed social media posts such as twitter, instagram etc.

What do u think?

[2022-02-26 20:39] technosophos commented on #2
This was resolved with the 0.1 release! Yay!

[2022-02-26 20:39] #2 closed, assigned to michelleN

[2022-02-26 20:40] technosophos commented on #25
Closed when we upgraded to the latest handlebars_sprig!

[2022-02-26 20:40] #25 closed, assigned to nobody

[2022-02-26 20:41] technosophos commented on #44
Yeah, this is a great idea.

[2022-03-03 10:09] radu-matei opened #45 "Create a Bartholomew CLI"
It would be very helpful to have a CLI that simplifies working with Bartholomew projects.
Specifically, it would contain functionality for:

- creating new sites
- creating new posts
- listing and displaying the content and a post calendar (see https://github.com/fermyon/bartcal)

I started implementing the latter two features, here is the current state:

[code]

If this looks good, I will open a

[2022-03-03 11:46] radu-matei commented on #44
Yeah, that would be really helpful!

[2022-03-03 11:48] radu-matei commented on #14
This has been fixed by improvements to Wagi (and by potentially increasing the open files limit for the process).

[2022-03-03 11:48] #14 closed, assigned to nobody

[2022-03-05 00:55] technosophos commented on #45
I will literally use this _every day_.

[2022-03-08 01:03] #45 closed, assigned to radu-matei

[2022-03-23 00:00] radu-matei opened #52 "Errors parsing dates"
We've had a few distinct errors parsing the `date` field in the page header:

- for `date = "2022-03-14"`:
[code]

- for `date = "2022-03-14T00:22:56Z"` (on Windows, not exactly sure what the issue is here, the error is very NOT helpful):
[code]

[2022-03-29 22:30] technosophos commented on #52
the date parser is very strict. So it MUST be a full ISO 8601 date.

I have no idea what the problem with the second date is. I'm not even sure how there can be an error on Windows that doesn't appear on other OSes. AFAIK, the date parser does not use any host OS features.

[2022-04-02 08:55] bketelsen opened #55 "Replicate "shortcodes" by allowing rhai scripts in markdown"
I miss the concepts of [shortcodes](https://gohugo.io/content-management/shortcodes/) from Hugo and others. I think it would be straightforward to implement this in Bartholomew by running the markdown through the handlebars rendering engine before running it through the markdown rendering engine.

as an example I might want an alert in my blog post warning people of a potentially destructive actio

[2022-04-03 18:26] rajatjindal commented on #44
opened https://github.com/rajatjindal/handlebars-sprig/pull/2 and https://github.com/fermyon/bartholomew/pull/57 to do poc for this.

looking forward to hearing feedback.

[2022-04-04 07:25] rajatjindal opened #59 "use tailwindcss?"
I have been meaning to ask this question since I started looking at `bartholomew`. Leaving my imposter syndrome behind, I  thought i will ask this question anyways.

Is there a preference of css framework that we use?

`tailwindcss` is really popular these days  and I personally use it as well and love it.

is that something we want to consider changing in `bartholomew` or just leave it to users t

[2022-04-04 13:20] bacongobbler commented on #59
I don’t think there’s a specific preference here, however fermyon.com, spin.fermyon.dev, and Hippo’s UI all use Bulma as the front-end framework. The two former projects are served with bartholomew. They all share a similar styling thanks to [fermyon/styleguide](/fermyon/styleguide).

https://bulma.io/

IMO I’d leave this as a personal decision. Everyone has their own preferred set of UI framework

[2022-04-04 13:30] rajatjindal commented on #59
sounds good. (My personal website is using bulma too, though all of my new projects uses tailwindcss).

thanks for taking out time to reply.

[2022-04-04 13:30] #59 closed, assigned to nobody

[2022-04-04 15:25] technosophos commented on #59
There was absolutely no reason that I chose Bootstrap other than that it was the first one I thought of on that day. I would be cool with changing to whatever others thought was good. I have no real attachment to Bootstrap.

[2022-04-05 01:42] rajatjindal commented on #59
Hi Matt, thanks for the feedback. `tailwindcss` is the cool kid in the town these days. i will do some poc with it and will see how it turns out. if everyone likes it, we will move to it, else it could just serve as a starter template with tailwindcss

[2022-04-06 07:34] comradelemoncake opened #60 "Document the CLI a bit more"
The information on using the CLI doesn't really show people how to actually use and install the CLI. I can take a stab at it also once there's a broader discussion.

[2022-04-07 23:50] comradelemoncake opened #61 "Can't compile Bart on Ubuntu 20.04 WSL"
Getting a really annoying compilation error when trying to compile Bart on Ubunto 20.04 WSL:

Command:

[code]

I've tried installing things like `build-essential` and `gcc-multilib` to no avail.

[2022-04-08 00:05] radu-matei commented on #61
Could you please share the entire command you used for building?
Thanks!

[2022-04-08 00:41] comradelemoncake commented on #61
@radu-matei Updated the original comment!

[2022-04-08 05:56] radu-matei commented on #61
There are two projects in this repository:

- Bartholomew, which ends up being compiled as a WebAssembly module and run by Spin
- the Bartholomew CLI, which is a native binary.

To compile the CLI, you need to compile the project from the `bart/` directory:

[code]

Alternatively, you can run the `make bart` command.

[2022-04-11 16:17] comradelemoncake opened #63 "Add Badges"
We should probably add badges to this repo to things like:

- Discord
- Youtube
- Twitter
- Build Status
- Software Security Status
- Etc

[2022-04-15 17:11] vdice opened #64 "CI: update bart cli release asset"
Currently the [bart cli release asset](https://github.com/fermyon/bartholomew/releases/tag/v0.3.0) is for linux amd64 but its name doesn't signify this.  Consider updating the name to add the arch extension... and perhaps add other arch combos 😉

[2022-05-02 17:07] dicej opened #69 "Improve support for relative links in Markdown content"
Per the discussion in https://github.com/fermyon/spin/pull/426, Bartholomew currently has trouble with relative links in Markdown content.  Making them non-relative fixes Bart but breaks browsing those links in GitHub and elsewhere, whereas making them relative fixes GitHub browsing but breaks Bart.

Therefore, Bart should handle relative links correctly, translating them to the appropriate HTML U

[2022-05-02 17:46] technosophos commented on #69
I had hoped that if we got #55 done, we would be able to do something like `{{ link "/foo/bar" }}` and have that generate the full href. But there might be a way to override the generator function for the markdown parser and capture `[foo](/bar)` and then translate those to full URLs.

[2022-05-02 18:01] dicej commented on #69
@radu-matei What do you think of the following?

Modify [Content::render_markdown](https://github.com/fermyon/bartholomew/blob/875106be47a4362c903bc40859cc3a750fab35dd/src/content.rs#L184-L186) to preprocess relative links (e.g. transform ./http-trigger.md into /http-trigger) prior to translating to HTML.  This has the advantage of preserving the existing URI format (i.e. https://spin.fermyon.dev/

[2022-05-03 20:21] #69 closed, assigned to nobody

[2022-05-08 13:14] radu-matei opened #73 "Re-organize the templates and static directories to support easy theming"
Right now, we don't have a lot of themes that are compatible with Bartholomew.

There is the [Bartholomew site template](https://github.com/fermyon/bartholomew-site-template), and the [Fermyon docs template](https://github.com/fermyon/docs-website-template), but trying to refactor a site to change the theme can be tricky.

We could reorganize the Bartholomew directories to allow pulling a submodul

[2022-05-23 23:54] vdice opened #75 "Make/cargo build issue"
I'm seeing the following when I run `make` in this project:
[code]

Not sure if an update/upgrade to my local rust/cargo env is necessary -- or if an update to this project's Makefile/Cargo.toml is due.

[2022-05-24 00:02] vdice commented on #75
I got it working/building after I ran the following on my machine:

[code]

If this is the correct solution, should we add something to the docs?

[2022-06-16 19:44] lann opened #76 "feature: Remote content"
It could be very helpful if content could be rendered from a remote host. I'm imagining something like:

[code]

[2022-06-16 19:46] lann commented on #76
Bonus points if this could be dynamic, e.g. `http://mybart.dev/blog-post-1?content_url=https://raw.githubusercontent.com/fermyon/bartholomew/main/docs/content`, though this would need careful consideration from a security perspective as it would be a potential XSS vector.

[2022-06-17 14:10] VishnuJin opened #77 "minor - REadme.md has a broken link 'bartholomew-screenshot.png'"
The 'fermyon/bartholomew' repository doesn't contain the 'static/bartholomew-screenshot.png' path in 'main'.

[2022-06-29 16:37] karthik2804 commented on #73
Hello, I'd like to work on this. I was thinking about two possible approaches.

Approach 1 - Create a `templates/themes/` allowing you to access components from possibly multiple themes by including partials like `{{> themes/<name of theme>/<theme component> }}`.  Alternatively `themes/` can be a separate directory from where all the templates are registered and can be included using `{{> <name of

[2022-06-29 16:42] technosophos commented on #77
See also: https://twitter.com/GeoffreyWiseman/status/1541483479669563400?s=20&t=rErjiqocogpXk6_ex8JpDg

[2022-07-12 20:22] vdice commented on #77
It looks like the `static` folder at root was removed in https://github.com/fermyon/bartholomew/commit/e91277002fa7efaee805a599fa595d63456ac637

Do we want to add some or all of the contents back to `static` at the root-level?  Note that the current version of the [README](https://github.com/fermyon/bartholomew#readme) (and ability to `spin up` or `make serve` of the site from the root-level `spin

[2022-07-13 18:22] vdice opened #83 "Docs site: Add Google Analytics ID and cookie consent"
cc @flynnduism

[2022-07-13 18:30] flynnduism commented on #83
Thanks I will add these today

[2022-07-14 23:11] radu-matei commented on #73
Hi, @karthik2804!
Working on this would be great!

I'm familiar with Hugo as a static site generator, and approach 2 is what I would expect.
That being said, exploring the first approach and seeing whether it leads to a simpler solution is something I'd like to explore as well.
Thanks!

[2022-07-16 08:57] karthik2804 commented on #73
Hello @radu-matei!
I have implemented both approaches as described in the earlier comment on separate branches.

Approach 1 which is component-based can be found at [Component-based approach](https://github.com/karthik2804/bartholomew/tree/component_themeing_support) while approach 2 which is an individual Theme-based approach can be found at [Theme-based approach ](https://github.com/karthik2804/

[2022-07-19 06:41] karthik2804 opened #85 "Empty env object in templates"
The `env`  object is missing data about the HTTP request, the path of this resource, and other Spin information in contradiction to the documentation. The only key-value pairs present in it are the environment variables set if any.

**Steps to reproduce:**
- Fresh copy of Bartholomew.
- replace docs/templates/main.hbs to just print the `env` object
- run `spin up -env PREVIEW_MODE=1`

**main.hbs:*

[2022-07-19 12:58] radu-matei commented on #85
That information was historically passed into Bartholomew as environment variables because of the CGI spec and Wagi.

Since moving Bartholomew to be a Spin component, most of that information is now passed as headers — see https://spin.fermyon.dev/http-trigger/

[2022-07-19 15:19] karthik2804 commented on #85
Thanks for pointing to the resource.

As a follow-up, I see a `request` object which is currently passed as an empty object to `TemplateContext`, would this be the right place to add the information?

If so what are the fields that would need to be added to the `request` object?  Based on the default headers that are passed from spin, only the `spin-full-path` would be needed as the rest can be ob

[2022-07-21 04:25] karthik2804 opened #88 "Update contributing.md to include tests"
Add a step on contribution guide to run tests using `make test` to make sure that the build tests pass.

[2022-07-26 23:30] karthik2804 opened #92 "Improving rendering performance"
While working on #91, I noticed that the content body of every `.md` file is parsed on every request. This induces a potential performance hit.  I feel like this could be an area for performance optimization of the rendering process as I think it is unnecessary to parse the markdown content of files other than the one that is requested. The required details for the post can be obtained from the he

[2022-07-27 17:30] rajatjindal commented on #75
I ran into this today as well. we should document this in README.

[2022-07-27 17:38] rajatjindal commented on #75
i had to also add `-f docs/spin.toml` to Makefile's  `serve` target to get the site up and running.

[2022-07-27 17:41] rajatjindal commented on #35
Hi @technosophos

did we make a decision on if we should (or shouldn't) install this bot.

[2022-07-28 07:50] radu-matei opened #94 "Cross platform release binaries"
We currently have a `bart` CLI release binary for Linux — we need to add for Windows and macOS as well.

[2022-07-28 11:31] tpmccallum commented on #77
Please note that there is a new PR which updates the README.md file with a new screen capture and link to official docs (as well as some new documentation about the difference between installing the server and the bart CLI.)

https://github.com/fermyon/bartholomew/pull/93

It would be great to merge the 93 PR and close this issue. In saying that, I would also like to discuss the idea of reducing t

[2022-07-28 17:16] vdice commented on #77
Closed by https://github.com/fermyon/bartholomew/pull/93; thank you @tpmccallum!  I'm in favor of the simplifications mentioned above 👍

[2022-07-28 17:16] #77 closed, assigned to nobody

[2022-07-28 17:43] karthik2804 commented on #85
Fixed by #90

[2022-07-28 17:43] #85 closed, assigned to nobody

[2022-07-30 16:15] karthik2804 commented on #73
closed by #87

[2022-07-30 16:15] #73 closed, assigned to karthik2804

[2022-08-01 00:26] tpmccallum opened #95 "Transfer technical documentation from README.md to official docs (single-source-of-truth simplification)"
Hi,
A couple of tasks which can be achieved now that the official Bartholomew documentation is live (public).

- Reduce the amount of pre-existing technical documentation in Bartholomew's README.md file.
- Transfer technical content like commands, instructions on how to install/use and so forth, to the official docs site [1].

This will provide a single-source-of-truth approach for us and reduce e

[2022-08-01 16:38] karthik2804 commented on #88
closed by #89

[2022-08-01 16:38] #88 closed, assigned to nobody

[2022-08-04 08:17] karthik2804 commented on #92
Based on some experimentation not running the body of every article through the markdown parser seems to make a significant difference in the performance.
**With parsing the markdown content**
[code]
**Without parsing the markdown content**
[code]

Also, an added benefit of not parsing the markdown content is that once the rhai shortcodes #91 gets merged, the performance of pages that don't use sh

[2022-08-04 08:24] karthik2804 commented on #83
closed by #86

[2022-08-04 08:24] #83 closed, assigned to nobody

[2022-08-04 12:08] karthik2804 opened #99 "Doc: Doc website ahead of current release"
The documentation website contains information about features not part of the current release (eg) themes, and request headers in the template.  There are currently no breaking changes. Should a new release be created?

[2022-08-04 15:45] vdice commented on #99
Ah, good point @karthik2804.  I was on autopilot in deploying the docs.

We could go either way.  I think it'd be great to get a new release out.  Alternatively, or even if we want to in the short-term, I/we can redeploy the docs site on a previous commit.

[2022-08-04 17:22] karthik2804 commented on #99
@vdice, I feel like waiting for #91 and #98 before a new release might be a good idea.

[2022-08-04 17:30] vdice commented on #99
👍 Okay, re-deployed https://bartholomew.fermyon.dev from https://github.com/fermyon/bartholomew/commit/330a5b861270b582f844d9364e54cf7e059e7e1c

[2022-08-09 15:30] #99 closed, assigned to nobody

[2022-08-10 17:57] vdice opened #102 "Align versions between bartholomew.wasm and bart CLI?"
Should we align versioning between the bartholomew.wasm module and the bart CLI?

Currently the former is at [0.3.0](https://github.com/fermyon/bartholomew/blob/main/Cargo.toml#L3) while the latter is at [0.1.0](https://github.com/fermyon/bartholomew/blob/main/bart/Cargo.toml#L3).

Confusion can result since both are currently included as artifacts for a given release of this repo, eg [v0.3.0](htt

[2022-08-11 18:15] karthik2804 opened #103 "Feat: optional indexing of `site.pages`"
Currently, every page has the access to `site.pages` which provides a list of pages on the site.  This indexing leads to considerable performance hits on pages that do not use `site.pages`. Based on some initial testing, just making the indexing optional leads to considerable performance gains on pages that do not index it.

Two potential options to enable indexing
1. A new field `index_site_pages

[2022-08-12 05:14] karthik2804 commented on #92
Closed by #103 and associated PR #104.

[2022-08-12 05:14] #92 closed, assigned to nobody

[2022-08-15 18:40] karthik2804 commented on #102
I agree, I think we should align the versions of `bartholomew.wasm` and `bart` CLI.

[2022-08-16 00:16] vdice opened #106 "ci/cd: automate checksum generation on release"
Let's update the current [release workflow](https://github.com/fermyon/bartholomew/blob/main/.github/workflows/release.yml) to add automated generation of the checksums file which we can include on the created GH release.

Then we can slim down the [release process doc](https://github.com/fermyon/bartholomew/blob/main/release-process.md).

[2022-08-16 13:33] radu-matei commented on #106
That would be excellent!

@karthik2804 — is this something you would be interested to look at?

[2022-08-16 14:03] radu-matei commented on #102
Addressed by #105.

[2022-08-16 14:03] #102 closed, assigned to nobody

[2022-08-16 16:21] karthik2804 commented on #103
closed by #104

[2022-08-16 16:21] #103 closed, assigned to nobody

[2022-08-16 17:52] vdice commented on #64
@karthik2804 and I are thinking of tackling this when we add support for Mac and Windows CLIs, either via cross-compilation or via build hosts.

[2022-08-16 22:27] #106 closed, assigned to nobody

[2022-08-23 15:23] vdice opened #109 "Spin compatibility: remove wasi-experimental-http"
Spin removed support for wasi-experimental-http in https://github.com/fermyon/spin/pull/699.

I believe Bartholomew needs to do the same for compatibility with Spin.

(To be clear, the last v0.4.0 release of Spin _is_ compatible)

For instance, when I try to run the docs site with Spin built from HEAD, I see:

[code]

[2022-08-23 15:30] vdice commented on #109
Actually, I may have this wrong.  I don't see Bartholomew using wasi-experimental-http directly, it is just in the Cargo.lock.  Perhaps what is necessary is to bump the spin SDK version?

[2022-08-23 15:56] karthik2804 commented on #109
I just tested it and the SDK version is not causing it. It is a dependency `handlebars-sprig` which causes this. Downgrading that to `v0.2.0` solves this.

`v0.3.0` introduced the `tweets` and `gists` functions which rely on `wasi_experimental_http`. I am not sure what the approach towards this must be.

[2022-08-23 16:03] vdice commented on #109
Thanks for checking this out, @karthik2804.  Interesting... would we lose functionality if we go with the v0.2.0 downgrade?

[2022-08-23 16:04] rajatjindal commented on #109
i had been working on a branch to fix it. but don't have a fix for it right now. v0.3.0 was working fine with `Bartholomew` when we released it first. i am not too sure why it stopped working

downgrading to v0.2.0 will lose tweets/gists embedding functionality. we can downgrade until we can fix it?

[2022-08-23 16:12] karthik2804 commented on #109
It doesn't work because one of the latest commits to spin removed support for `wasi-experimental-http` (https://github.com/fermyon/spin/pull/699) as mentioned in the OP. It will still work with Bartholomew when using spin built from a commit prior to that.

[2022-08-24 02:58] radu-matei commented on #109
Yeah, we don't need to remove functionality — rather than using the bespoke `wasi_experimental_http` crate, it can use the Spin SDK directly, or import `wasi_outbound_http` from Spin.

[2022-08-24 07:11] tpmccallum commented on #60
This is attended to in https://github.com/fermyon/bartholomew/pull/110
Please feel free to close this, once 110 is merged, if you like.
<img width="1150" alt="Screen Shot 2022-08-24 at 5 10 55 pm" src="https://user-images.githubusercontent.com/9831342/186354210-9e37a307-ef2b-40a4-a4c7-7ebcf46b501f.png">

[2022-08-24 15:21] rajatjindal commented on #109
I was able to get it working with spin sdk, but not able to publish new release as it needs a released version of spin-sdk.

Is that something we can do @radu-matei ?

I will spend more time on it tomorrow and will try to get a release pushed (worst case try to implement outbound http in handlebars sprig repo).

Thank you everyone for the inputs.

[2022-08-24 15:38] karthik2804 commented on #109
@rajatjindal can we not just switch from using a release of handlebars-sprig in Bartholomew to using a `git` as a source in the dependancy?

[2022-08-24 15:44] rajatjindal commented on #109
We can, i was just not sure of it will be acceptable.

If the team is ok with that, i am happy to open pr for it.

[2022-08-24 16:27] radu-matei commented on #109
That definitely works, @rajatjindal!
Thank you!

[2022-08-25 02:06] rajatjindal opened #112 "make serve does not use new compiled module"
when we run `make serve`, it uses docs/spin.toml, which points to the `bartholomew.wasm` under docs/modules/bartholomew.wasm

we should probably have it use `target/wasm32-wasi/release/bartholomew.wasm`

[2022-08-25 04:07] #109 closed, assigned to nobody

[2022-08-25 04:08] radu-matei commented on #112
Agreed.
We can perhaps have the one of the `make` targets copy the binary in the right place?

[2022-08-25 13:43] karthik2804 opened #113 "Bartholomew crashes when trying to use `tweet` embed in templates"
When running the `.wasm` module compiled from head with `spin` compiled from head as well, using `tweet` in templates leads to a crash.

Bartholomew commit
[code]

Inserting tweet embed in templates using
[code]

results in
[code]

[2022-08-25 15:36] rajatjindal commented on #113
I am aware of this issue. There are two issues here per my understanding

- we need to add publish.twitter.com to allowed hosts for spin whitelisting
- The query parameter does not work for spin outbound http sdk (there is an open issue for it in spin repo)

I was thinking to get 2nd issue fixed before submitting pr for 1st issue

[2022-08-25 15:41] karthik2804 commented on #113
Yes, you are correct. I feel like the first one is more of a documentation task in Bartholomew while I agree with the second one. Thanks for pointing it out, I missed out on the first. And I don't think 1st is an issue because I think the user must add `https://twitter.publish.com` to `allowed_http_hosts` in their `spin.toml` and don't think it would make sense for every website to have it, especi

[2022-08-25 15:53] rajatjindal commented on #113
this also bring up another point that we should fail gracefully with a more meaningful message. that issue should be opened in spin repo i think.

[2022-08-25 15:57] karthik2804 commented on #113
I agree.

[2022-08-25 20:49] itowlson commented on #113
Is it possible to work around the `params` issue by composing the query string into the URL?  That will be required eventually, assuming we remove `params`... would it work today?

[2022-08-25 21:36] itowlson commented on #113
Should work apparently: https://github.com/fermyon/spin/issues/663#issuecomment-1227779903

[2022-08-25 23:45] karthik2804 commented on #113
It does not seem to work. The piece of code in question is the follows.

[code]

The URL is created with the query string added to it when composing it.

I also tested by creating a local test echo server that just prints the request and the URL query parameters do not show up on that either.

[2022-08-26 05:52] tpmccallum opened #114 "Configuration settings - documentation update"
A recent note from @karthik2804 spoke about config.

"The enable_shortcodes is defined only on each .md file but not in the site.toml file. The corresponding entry in the code block above needs to be deleted as well. Those entries actually belong on markdown.md."

I believe this means removing the following lines from the site's overall configuration documentation (the `configuration.md`)

<img wi

[2022-08-26 15:36] karthik2804 commented on #114
Thanks, @tpmccallum. I will take a look at the docs to find out if there are any other changes required.

[2022-08-28 06:33] #112 closed, assigned to nobody

[2022-08-29 01:34] tpmccallum commented on #95
https://github.com/fermyon/bartholomew/pull/110 closes this.

[2022-08-29 01:34] #95 closed, assigned to tpmccallum

[2022-08-29 01:35] #60 closed, assigned to nobody

[2022-08-30 11:18] karthik2804 commented on #113
https://github.com/fermyon/spin/pull/723 should fix this.

[2022-09-05 18:49] Ragnyll opened #121 "Issues building from quickstart instructions"
I'm trying to build the `bart` binary from source but the prescribed make command fails, and it's unclear what is going wrong that I need to fix.

The [docs](https://github.com/fermyon/bartholomew/blob/118b074215629e1339d0f7812abd962ba09cfb83/docs/content/quickstart.md) state the following steps for building:
[code]

which results in
[code]

I don't think `make bartholomew` is the right make comma

[2022-09-05 18:52] radu-matei commented on #121
`make bart` generates a binary you can find in `target/release/bart` — does that help?

[2022-09-05 18:54] Ragnyll commented on #121
yeah, that at least gets me the binary i need to install.

should the make command drop it in `/usr/bin/` though? because in order to make the template site it will need to be callable from other directories (which can be done through relative pathing, but i'm not sure thats something that should be implicit from the build instructions)

[2022-09-05 19:28] Ragnyll commented on #121
I opened a minor pr to make the `make bart` lifecycle clear in the docs. If y'all want this feel free to review and allow the CI to run.

https://github.com/fermyon/bartholomew/pull/122

[2022-09-07 05:36] #121 closed, assigned to nobody

[2022-09-07 05:37] Ragnyll commented on #121
The merged pr #122 resolves this.

[2022-09-08 14:38] rajatjindal commented on #113
do we need something else to be done before we can merge this?

[2022-09-08 15:58] vdice commented on #113
@rajatjindal thanks for the ping; will look today.

[2022-09-08 16:25] rajatjindal commented on #113
i  just saw i need to resolve conflict in PR. doing that now

[2022-09-08 17:13] karthik2804 opened #126 "Documentation update - template function"
Currently, the documentation for the functions provided by `handlebars-sprig` does not seem to be sufficient. I think a new section must be added to either the `templates` page or a new page must be created for these helper functions.

[2022-09-08 17:17] rajatjindal commented on #126
we had some basic examples initially. might be worth it to pull it from history and add them back

[2022-09-08 17:26] #113 closed, assigned to nobody

[2022-09-08 17:47] vdice commented on #75
As of writing when building at the HEAD commit of this repo, I no longer appear to need to switch to `nightly`.  Are you seeing the same @rajatjindal ?  If so, we should be able to close this one out.

[2022-09-08 20:19] karthik2804 commented on #114
closed with #127

[2022-09-08 20:19] #114 closed, assigned to tpmccallum, karthik2804

[2022-09-09 04:24] radu-matei commented on #75
I also don't need to use Rust Nightly.

Closing, but feel free to reopen if this is still an issue.
Thanks!

[2022-09-09 04:24] #75 closed, assigned to nobody

[2022-09-09 11:42] tpmccallum commented on #94
Hi @radu-matei
Just a quick question, if we go ahead and create the Windows and macOS executable binary files for the `bart` CLI the binary files will have the same name i.e. `bart`.
Shall we create a compressed file for each platform i.e. `bart-v0.4.0-macos-amd64.tar.gz`, `spin-v0.4.0-windows-amd64.zip` in the same manner that we do for Spin?
If so I can go ahead and create these and then update

[2022-09-09 11:45] tpmccallum commented on #94
I see that perhaps @vdice and @karthik2804 may be planning to resolve this already over on issue https://github.com/fermyon/bartholomew/issues/64

[2022-09-09 11:53] tpmccallum commented on #61
The documentation has now been updated to reflect how to install the `bart` CLI and also the Bartholomew WebAssembly module.

[2022-09-09 11:53] #61 closed, assigned to nobody

[2022-09-09 15:39] vdice commented on #94
@tpmccallum indeed, this is the approach I was thinking of.  No one yet owns this work, so it is up for grabs!

[2022-09-12 07:47] ShalokShalom opened #128 "Gluon"
Considering it is embeddable in Rust, can I use Gluon instead of Rhai?

https://github.com/gluon-lang/gluon

[2022-09-12 07:51] karthik2804 commented on #55
Closed with #91

[2022-09-12 07:51] #55 closed, assigned to nobody

[2022-09-13 16:47] karthik2804 commented on #128
I don't think this would be currently possible as currently, [handlebars](https://crates.io/crates/handlebars) does seem to support only rhai scripts as the supported language for scripting.

[2022-09-13 21:23] ShalokShalom commented on #128
So, there needs to be specific support?
Why?

[2022-09-13 21:23] #128 closed, assigned to nobody

[2022-09-13 22:59] itowlson commented on #128
"Why" is a question for the Handlebars folks, really **grin** - my guess is that nobody has yet asked for Gluon support or sent them a PR for it.

The Handlebars scripting implementation seems to be around https://github.com/sunng87/handlebars-rust/blob/08f2df78b768f97bc45689ecaf610a8eccf6eb20/src/registry.rs#L412 and in https://github.com/sunng87/handlebars-rust/blob/master/src/helpers/scripting.

[2022-09-14 01:19] tpmccallum commented on #94
Great, I will got this sorted next and keep the updates coming in the comments here.

[2022-09-14 05:25] tpmccallum opened #129 "Bart CLI does not build on Windows"
When cloning & building the Bartholomew Command Line Interface (CLI) on Windows, using the `make bart` command, the following error is encountered.

[code]
Had a chat with @itowlson (thanks Ivan) and it appears that we could/should take Bartholomew functionality which is fundamentally designed to compile to Wasm (any features intended to be used within Spin) and create a new `[server]` feature set

[2022-09-14 05:29] tpmccallum commented on #94
The https://github.com/fermyon/bartholomew/releases/tag/v0.4.0 section has been updated in the follow way.

**Linux**
- the Linux `bart` file has been compressed into `bart-cli-v0.4.0-linux-amd64.tar.gz`
- a `shasum -a 256` for `bart-cli-v0.4.0-linux-amd64.tar.gz` has been added to the checksum text file

**macOS**
- a new macOS `bart` file has been created
- the macOS `bart` file has been compres

[2022-09-14 05:45] itowlson commented on #129
@karthik2804 I know you've been working on Bartholomew - would you be interested in tackling this and do you have availability?  The underlying issue is breaking the CLI's indirect dependency on the Spin SDK.

[2022-09-14 05:51] karthik2804 commented on #129
@itowlson I will be happy to take a shot at this issue.

[2022-09-14 05:59] itowlson commented on #129
Appreciate it @karthik2804, thanks so much!

[2022-09-14 21:50] karthik2804 commented on #94
Are we also looking to add a macos-aarch64 build?

[2022-09-14 21:54] karthik2804 commented on #44
closed by #57

[2022-09-14 21:54] #44 closed, assigned to nobody

[2022-09-15 02:25] tpmccallum commented on #129
This is fixed in PR https://github.com/fermyon/bartholomew/pull/130

[2022-09-15 02:25] #129 closed, assigned to tpmccallum, karthik2804

[2022-09-15 03:10] tpmccallum commented on #94
I am not able to add macos-aarch64 at this stage unfortunately :(

However, after the fix relating to Windows, we have the following results.

![Screen Shot 2022-09-15 at 1 09 54 pm](https://user-images.githubusercontent.com/9831342/190304993-1be066e7-7357-4203-b043-0ad33b51a16f.png)

[2022-09-15 03:12] tpmccallum commented on #94
Linux, macOS and Windows have all been tested.
Also the new bartholomew.wasm file has been tested (added to bartholomew-site-template locally and also added to fermyon.com locally; in each respective `modules` directory).

[2022-09-15 03:12] #94 closed, assigned to nobody

[2022-09-15 03:17] tpmccallum commented on #64
The bart cli release section has been updated with Linux, macOS and Windows. We compressed each of the `bart` files and named them accordingly and then also performed the `shasum` and also added those checksum values to the checksum test file.

I was just not able to build on macos-aarch64 for now. Perhaps we can look at that one also down the track.

For now the naming convention on all of the fi

[2022-09-15 03:17] #64 closed, assigned to nobody

[2022-09-16 03:46] tpmccallum opened #132 "Add v0.4.0 `bart` CLI binary executable for macOS - AArch64"
We have updated the Bart CLI release assets to include macOS and Windows.
We now have the following `amd64` bart CLI assets.
[code]
It would be great if we could also add support for macOS `AArch64`.

https://github.com/fermyon/bartholomew/releases/tag/v0.4.0

[2022-09-16 14:26] vdice commented on #132
Do we want to add automation (eg a GitHub Action) to build this binary set and upload it to a new GH release on each tag push?

[2022-09-16 15:56] karthik2804 commented on #132
I think adding a GitHub automation would make sense.

[2022-09-16 19:45] karthik2804 commented on #27
Closed by #133

[2022-09-16 19:45] #27 closed, assigned to nobody

[2022-09-16 19:45] karthik2804 commented on #31
Closed with #133

[2022-09-16 19:45] #31 closed, assigned to nobody

[2022-09-16 19:48] karthik2804 commented on #26
closed by #133

[2022-09-16 19:50] #26 closed, assigned to nobody

[2022-10-24 03:12] rajatjindal opened #138 "relative link without url scheme"
opening as a placeholder to discuss expected behaviour of link where url scheme is missing. e.g.

`Bindles can use semantic versioning [SemVer](www.semver.org) as part of their names.`

[2022-10-24 05:07] rajatjindal opened #139 ".md is removed from external links"
e.g.

`[WebAssembly Interface (WIT)](https://github.com/WebAssembly/component-model/blob/main/design/mvp/WIT.md)`

is written as

[code]

[2022-10-26 00:05] #139 closed, assigned to nobody

[2022-10-27 19:07] cohix opened #143 "Issue reading content"
`spin 0.6.0 (12a5037 2022-10-21)`

I followed the quickstart guide, and after adding my first post, I load the page and get this in the browser:

`Rendering "/content/blog/hello.md": Capabilities insufficient (os error 76)`

Same message in the spin logs

It can load `index.md` just fine.

Halp :)

[2022-10-27 19:16] karthik2804 commented on #143
Are you using the latest Bartholomew version? This was an issue due to writing to a cache file which has now been fixed.

[2022-10-27 20:42] cohix commented on #143
@karthik2804 I used the template repo in the bartholomew quickstart... what's the easiest way to build the latest bartholomew?

[2022-10-27 21:05] karthik2804 commented on #143
@cohix You can grab the latest binary from the releases https://github.com/fermyon/bartholomew/releases/tag/v0.6.0 or you can build from the source by building this repo.

[2022-10-27 21:36] cohix commented on #143
That did the trick! Thanks @karthik2804

[2022-10-27 21:36] #143 closed, assigned to nobody

[2022-11-28 14:56] layeddie opened #147 "spin build error with wit-bindgen in hello-rust"
Got this error when running through the hello-rust example. Running on Mac Monterey.
Rust newbie.... not sure this is the right place to raise this....
[](https://developer.fermyon.com/spin/quickstart)

❯ spin build
Executing the build command for component hello-rust1: cargo build --target wasm32-wasi --release
   Compiling async-trait v0.1.58
   Compiling wit-bindgen-gen-rust v0.2.0 (https://git

[2022-11-28 20:07] itowlson commented on #147
Could you try updating your Rust to a more recent version please?  Not sure exactly what our minimum version is but I don't think we can build with 1.56 any more.  `rustup update` should do the trick; let us know if it still doesn't work with Rust 1.65.

(If you need to stay on 1.56 for other reasons, you might need to use the rustup toolchain feature to switch back and forth, sorry.)

[2022-11-29 10:27] layeddie commented on #147
Hi,
Yes, whatever makes sense to you.
Thanks for your response.
Eddie Lay